table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

table.table-sortable th.currently-sorted[data-sort-dir='asc']::after {
  content: '\25b2';
  font-size: 12px;
}

table {
  margin-bottom: 10px;
}

table.table-sortable th.currently-sorted[data-sort-dir='desc']::after {
  content: '\25bc';
  font-size: 12px;
}

.ds-pagination {
  display: inline-block;
  background-color: white;
  border: 1px solid #d8cdc9;
  margin-top: 10px;
}

.ds-pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.ds-pagination a:not(:nth-child(2)) {
  background-color: #d8cdc9;
  color: white;
}

.ds-pagination a:nth-child(2) {
  display: inline-block;
  width: 100px;
  text-align: center;
}

.ds-pagination a:nth-child(n+3):nth-last-child(n+2) {
  cursor: default;
}
