body {
  background: #1d1e22;
}
/* styling the table */
table, td {
  border: 1px solid #353535;
  padding-left: 5px;
}

th {
background-color: #3B3B3B;
text-align: left;
padding-left: 5px;
}

table {
  width: 100%;
  font-family: monospace;
  border-collapse: collapse;
  background-color: #2B2B2B;
  color: #94ABBE;
}

/* styling pagination */

.pagination {
  display: inline-block;
  background-color: #94ABBE;
  border: 1px solid #3B3B3B;
  margin-top: 10px;
}

.pagination a:not(:nth-child(2)) {
  background-color: #3B3B3B;
  color: #94ABBE;
}